// Componant: Widget

.widget-small {
	display: flex;
	flex-wrap: wrap;
	border-radius: 4px;
	color: $white;
	margin-bottom: 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

	.icon-w {
		align-self: center;
		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $white;
		}
	}

	.caption {
		align-self: center;
		.description {
			display: flex;
			flex-direction: column;
			&.text-muted {
				color: $white !important;
			}
			.text-success, .text-danger {
				color: $white !important;
			}
		}
	}

	&.w-light {
		background-color: $white;
		color: $gray-900;

		.description {
			&.text-muted {
				color: $gray-600 !important;
			}
			.text-success {
				color: $green !important;
			}
			.text-danger {
				color: $red !important;
			}
		}
	}

	&.primary {
		background-color: $primary;
		&.w-light {
			background-color: $white;
			color: $gray-900;
			.icon {
				color: $primary;
			}
		}
	}

	&.info {
		background-color: $info;

		&.w-light {
			background-color: #fff;
			color: $gray-900;

			.icon {
				color: $info;
			}
		}
	}

	&.warning {
		background-color: $warning;

		&.w-light {
			background-color: #fff;
			color: $gray-900;

			.icon {
				color: $warning;
			}
		}
	}

	&.danger {
		background-color: $danger;

		&.w-light {
			background-color: #fff;
			color: $gray-900;

			.icon {
				color: $danger;
			}
		}
	}
}

// Dark mode support
[data-bs-theme="dark"] {
	.widget-small {
		&.w-light {
			background-color: var(--bs-gray-800);
			color: var(--bs-gray-100);
			border: 1px solid var(--bs-gray-700);

			.caption {
				.text-xs {
					color: var(--bs-gray-400);
				}

				.h4 {
					color: var(--bs-gray-100);
				}

				.description {
					&.text-muted {
						color: var(--bs-gray-400) !important;
					}
				}
			}

			.icon {
				opacity: 0.9;
			}
		}
	}
}