extends layouts/_layout.pug

block variables
	- var activePage = 'charts';
	- var activeGroup = 'none';

block title
	title Charts - Neo Admin

block content
	.app-title
		div
			h1 Charts
			p Various type of charts for your project

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				| Home
			li.breadcrumb-item
				a(href='#') charts

	.row
		.col-md-6
			.tile
				h3.tile-title Line Chart
				.embed-responsive.embed-responsive-16by9
					canvas.embed-responsive-item(id="lineChartDemo")

		.col-md-6
			.tile
				h3.tile-title Bar Chart
				.embed-responsive.embed-responsive-16by9
					canvas.embed-responsive-item(id="barChartDemo")

		.col-md-6
			.tile
				h3.tile-title Radar Chart
				.embed-responsive.embed-responsive-16by9
					canvas.embed-responsive-item(id="radarChartDemo")

		.col-md-6
			.tile
				h3.tile-title Polar Chart
				.embed-responsive.embed-responsive-16by9
					canvas.embed-responsive-item(id="polarChartDemo")

		.col-md-6
			.tile
				h3.tile-title Pie Chart
				.embed-responsive.embed-responsive-16by9
					canvas.embed-responsive-item(id="pieChartDemo")

		.col-md-6
			.tile
				h3.tile-title Doughnut Chart
				.embed-responsive.embed-responsive-16by9
					canvas.embed-responsive-item(id="doughnutChartDemo")


block specific-js
	script(type='text/javascript').
		var data = {
			labels: ["January", "February", "March", "April", "May"],
			datasets: [
				{
					label: "Lucas Red",
					fill: false,
					borderColor: 'rgb(255, 99, 132)',
					backgroundColor: 'rgb(255, 99, 132)',
					data: [13, 16, 20, 27, 36],
				},
				{
					label: "Choche Blue",
					fill: false,
					borderColor: 'rgb(54, 162, 235)',
					backgroundColor: 'rgb(54, 162, 235)',
					data: [25, 21, 29, 35, 22],
				}
			]
		};

		var pdata = {
			datasets: [{
				data: [
					50,
					80,
					140,
					200
				],
				backgroundColor: [
					'rgb(255, 99, 132)',
					'rgb(255, 159, 64)',
					'rgb(75, 192, 192)',
					'rgb(54, 162, 235)'
				],
				label: 'Products'
			}],
			labels: [
				'Red',
				'Orange',
				'Green',
				'Blue'
			]
		};

		var ctxl = document.getElementById('lineChartDemo').getContext('2d');
		var lineChart = new Chart(ctxl, {
			type: 'line',
			data: data,
			options: {
				responsive: true,
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				}
			}
		});

		var ctxb = document.getElementById('barChartDemo').getContext('2d');
		var barChart = new Chart(ctxb, {
			type: 'bar',
			data: data,
			options: {
				responsive: true,
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				}
			}
		});

		var ctxr = document.getElementById('radarChartDemo').getContext('2d');
		var radarChart = new Chart(ctxr, {
			type: 'radar',
			data: data,
			options: {
				responsive: true,
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				}
			}
		});

		var ctxpo = document.getElementById('polarChartDemo').getContext('2d');
		var polarChart = new Chart(ctxpo, {
			type: 'polarArea',
			data: pdata
		});

		var ctxp = document.getElementById('pieChartDemo').getContext('2d');
		var pieChart = new Chart(ctxp, {
			type: 'pie',
			data: pdata
		});

		var ctxd = document.getElementById('doughnutChartDemo').getContext('2d');
		var doughnutChart = new Chart(ctxd, {
			type: 'doughnut',
			data: pdata
		});
