extends layouts/_layout.pug

block variables
	- var activePage = 'dashboard';
	- var activeGroup = 'none';

block content
	.app-title
		div
			h1 Dashboard
			p Admin Template with Bootstrap
			
		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				| Home
			li.breadcrumb-item
				a(href='#') Dashboard

	.row
		.col-xl-3.col-sm-6.col-12.mb-4
			.card.h-100
				.card-body
					.row.align-items-center
						.col.mr-2
							.text-xs.font-weight-bold.text-uppercase.mb-1 Earnings (Monthly)
							.h5.mb-0.font-weight-bold.text-gray-800 $75,000
							.mt-2.mb-0.text-muted.text-xs
								span.text-success.mr-2
									i.fa.fa-arrow-up
									|  4.68%
								span Since last month
						.col-auto
							i.fa.fa-calendar-o.fa-2x.text-primary

		.col-xl-3.col-sm-6.col-12.mb-4
			.card.h-100
				.card-body
					.row.align-items-center
						.col.mr-2
							.text-xs.font-weight-bold.text-uppercase.mb-1 Sales
							.h5.mb-0.font-weight-bold.text-gray-800 123
							.mt-2.mb-0.text-muted.text-xs
								span.text-success.mr-2
									i.fa.fa-arrow-up
									|  9.11%
								span Since last years
						.col-auto
							i.fa.fa-shopping-cart.fa-2x.text-success

		.col-xl-3.col-sm-6.col-12.mb-4
			.card.h-100
				.card-body
					.row.align-items-center
						.col.mr-2
							.text-xs.font-weight-bold.text-uppercase.mb-1 New User
							.h5.mb-0.font-weight-bold.text-gray-800 54
							.mt-2.mb-0.text-muted.text-xs
								span.text-success.mr-2
									i.fa.fa-arrow-up
									|  5.60%
								span Since last month
						.col-auto
							i.fa.fa-users.fa-2x.text-info

		.col-xl-3.col-sm-6.col-12.mb-4
			.card.h-100
				.card-body
					.row.align-items-center
						.col.mr-2
							.text-xs.font-weight-bold.text-uppercase.mb-1 Pending Requests
							.h5.mb-0.font-weight-bold.text-gray-800 90
							.mt-2.mb-0.text-muted.text-xs
								span.text-danger.mr-2
									i.fa.fa-arrow-down
									|  2.50%
								span Since yesterday
						.col-auto
							i.fa.fa-comments.fa-2x.text-danger
	.row
		.col-md-6
			.tile
				h3.tile-title Monthly Sales
				.embed-responsive.embed-responsive-16by9
					canvas.embed-responsive-item(id="lineChartDemo")

		.col-md-6
			.tile
				h3.tile-title Support Requests
				.embed-responsive.embed-responsive-16by9
					canvas.embed-responsive-item(id="pieChartDemo")

block specific-js
	script(type='text/javascript').
		var ctx = document.getElementById('lineChartDemo').getContext('2d')
		var ctxp = document.getElementById('pieChartDemo').getContext('2d')
		var myLineChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: ["January", "February", "March", "April", "May"],
				datasets: [
					{
						label: "Lucas Red",
						fill: false,
						borderColor: 'rgb(255, 99, 132)',
						data: [13, 16, 20, 27, 36],
					},
					{
						label: "Choche Blue",
						fill: false,
						borderColor: 'rgb(54, 162, 235)',
						data: [25, 21, 29, 35, 22],
					}
				]
			},
			options: {
				responsive: true,
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				}
			}
		})

		var myPieChart = new Chart(ctxp, {
			type: 'pie',
			data: {
				datasets: [{
					data: [
						50,
						80,
						140,
						200
					],
					backgroundColor: [
						'rgb(255, 99, 132)',
						'rgb(255, 159, 64)',
						'rgb(75, 192, 192)',
						'rgb(54, 162, 235)'
					],
					label: 'Products'
				}],
				labels: [
					'Red',
					'Orange',
					'Green',
					'Blue'
				]
			},
			options: {
				responsive: true
			}
		})