:root {
  --neo-primary: #{$primary};
  --neo-secondary: #{$secondary};
  --neo-success: #{$success};
  --neo-info: #{$info};
  --neo-warning: #{$warning};
  --neo-danger: #{$danger};
  --neo-light: #{$light};
  --neo-dark: #{$dark};
  
  // Sidebar
  --neo-sidebar-width: #{$sidebar-width};
  --neo-sidebar-collapsed-width: #{$sidebar-collapsed-width};
  --neo-header-height: #{$header-height};
  
  // Font Scaling
  --neo-base-size: 16px;
  font-size: var(--neo-base-size);
}

[data-font-scale="small"] {
  --neo-font-base: 12px;
}

[data-font-scale="large"] {
  --neo-font-base: 16px;
}

body {
  font-size: var(--neo-font-base);
}
